img {
  width: 200px;
  float: left;
  margin: auto;
  height: auto;
  display: block;
}

h1 {
  color: rgb(34, 192, 34);
}

.projects {
  text-align:center
}

.box1 {
  width: 100%;
  padding: 2px;
  border: black;
  border-width: 10px;
  background-color: rgb(18, 73, 59);
  margin-bottom: 10px;
  text-align: center;
}

.interests {
  float: right;
}

.highlight {
  color:green;
}

.high {
  color:rgb(16, 211, 16);
}