img {
  width: 200px;
  float: left;
}

h1 {
  color: rgb(34, 192, 34);
}

.box1 {
  width: 100%;
  border: black;
  border-width: 1px;
  background-color: rgb(18, 73, 59);
  margin-bottom: 10px;
  text-align: center;
}